.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}
 
li a {
    text-decoration: none;
}

.welcome {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.information {
    flex-grow: 1;
}

.image {
    flex-grow: 1;
}

.landorus {
    height: 300px;
    width: auto;
    padding: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.illustrations {
    display: flex;
}

.illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sample {
    width: 100px;
    height: auto;
}

.quote {
    background-color: aliceblue;
}

.banner {
    background-color: antiquewhite;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}